.fontLight {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: lighter;
    letter-spacing: .1em;
}

.fontMedium{
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
    letter-spacing: .2em;
}

.fontBold{
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    letter-spacing: .2em;
}

.fontBlack{
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bolder;
    letter-spacing: .2em;
}
