@import "_fonts";
@import "_values";
 html,
body {} body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    //    width: 100%;
    background-color: $black;
    color: $white;
    //    @extend .verticalFlexCenter;

}
h2 {
    @extend .fontBlack;
    //    margin: 10px 0 0 0;
    margin: 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.1;
}
a {
    text-decoration: none;
}
p {
    @extend .fontBlack;
    font-size: .8em;
    margin: 0;
}
aside {
    @extend .fontLight;
    text-transform: uppercase;
    font-size: .7em;
    margin: 0;
}
.viewWindow {
    height: 100vh;
    overflow: scroll;
}
.albumList{
    .albumTile:first-child{
        margin-top: 20px;
    }
}
.albumTile {
    @extend .verticalFlexCenter;
    margin-bottom: $footerHeight;

    .cover {
        @extend .horizontalFlexCenter;
        width: 90%;
        justify-content: space-between;
        .albumFrame {
            height: $coverHeight;
            flex: 1;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    .albumHeader {
        @extend .verticalFlexCenter;
        justify-content: center;
        height: $footerHeight;
        background-color: $black;
        opacity: .7;
        position: relative;
        bottom: $footerHeight;
        margin-bottom: -$footerHeight;
        width: 90%;
        transition: opacity .2s;
        p {
            text-transform: uppercase;
            margin-bottom: 4px;
        }
    }
}
.albumTile:hover{
    .albumHeader{
        opacity: 1;
    }
}
.galleryList {
    margin-bottom: 10px;
    @extend .verticalFlexCenter;
    .galleryCover{
        @extend .verticalFlexCenter;
        justify-content: center;
        background-repeat: no-repeat;
        background-position: 0% 100%;
        background-size: 300%;
        background-blend-mode: multiply;
        height: 85vh - $footerHeight;
        width: 100%;
        margin-bottom: 20px;
        padding-bottom: $footerHeight;
        text-shadow: 0 0 10px rgba(0, 0, 0, .6);
        h1{
            margin-bottom: 15px;
        }
    }
    .galleryImage {
        @extend .verticalFlexCenter;
        width: 95%;
        text-decoration: none;
        margin-bottom: 40px;
        background-color: $black;
        img {
            width: 100%;
        }

    }
}
footer {
    position: fixed;
    bottom: 0;
    background-color: $black;
    opacity: .7;
    margin: 0;
    width: 100%;
    justify-content: center;
    height: $footerHeight;
    h1 {
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: .8em;
        text-transform: uppercase;
        color: $white;
        letter-spacing: .45em;
        @extend .fontBold;
    }
}
//responsiveness
@media screen and (min-width: 600px) {
    .albumTile .cover {
        width: 70%;
    }
    .galleryList{
        .galleryCover{
            height: 40vh;
        }
    }
    footer {
        h1 {
            font-size: 1.2em;
            letter-spacing: .7em;
        }
    }
    $footerHeight:10vh;
}
@media (min-width: 1000px) {
    .albumTile {
        .cover {
            width: 60%;
            .albumFrame {
                height: 80vh;
            }
        }
    }
    .galleryList {
        .galleryImage {
            img {
//                width: auto;
//                max-height:85vh;
                max-width: 1024px;
            }
        }
    }
}
//grids
.horizontalFlexCenter {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.verticalFlexCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}
