@import "_fonts";
@import "_values";

* {
  box-sizing: border-box;
}

 html,
body {} body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    //    width: 100%;
    background-color: $black;
    color: $white;

}
h2 {
    @extend .fontBlack;
    margin: 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.1;
}
a {
    text-decoration: none;
}
p {
    @extend .fontBlack;
    font-size: .8em;
    margin: 0;
}
aside {
    @extend .fontLight;
    text-transform: uppercase;
    font-size: .75em;
    margin: 0;
}
.viewWindow {
    height: 100vh;
    overflow: scroll;
    @extend .verticalFlexCenter;
}
.galleryViewWindow{
    height: 100vh;
    overflow: scroll;
}
.albumList {
    @extend .verticalFLexCenter;
    width: 90%;
    .albumTile:first-child {
        margin-top: 20px;
    }
    .albumTile {
        margin-bottom: $footerHeight;
        width: 100%;
        .cover {
            @extend .horizontalFlexCenter;
            width: 100%;
            justify-content: space-between;
            .albumFrame {
                height: $coverHeight;
                flex: 1;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
        .albumHeader {
            @extend .verticalFlexCenter;
            justify-content: center;
            height: $footerHeight;
            background-color: rgba(0, 0, 0, .7);
            position: relative;
            bottom: $footerHeight;
            margin-bottom: -$footerHeight;
            width: 100%;
            transition: background-color .2s;
            p {
                text-transform: uppercase;
                margin-bottom: 4px;
            }
        }
    }
}
.albumTile:hover {
    .albumHeader {
        background-color: $black;
    }
}
.galleryList {
    margin-bottom: $footerHeight;
    @extend .verticalFlexCenter;
    .galleryCover {
        @extend .verticalFlexCenter;
        justify-content: flex-end;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-blend-mode: multiply;
        height: 95vh - $footerHeight;
        width: 100%;
//            filter: blur(2px);
        margin-bottom: 40px;
        .header{
            @extend .verticalFlexCenter;
            width: 100%;
            padding: 40px 0;
            background-color: rgba(0, 0, 0, .5);
            h2{
                width: 90%;
                margin-bottom: 10px;
            }
        }
    }

    .galleryImage {
        @extend .verticalFlexCenter;
        width: 90%;
        text-decoration: none;
        margin-bottom: 30px;
        background-color: $black;
        img {
            max-width: 100%;
            max-height: 90vh;
            border: 1px #1c1c1c solid;
        }
    }
}
footer {
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    margin: 0;
    width: 100%;
    justify-content: center;
    height: $footerHeight;
    h1 {
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: .8em;
        text-transform: uppercase;
        color: $white;
        letter-spacing: .45em;
        @extend .fontBold;
    }
}
//responsiveness
@media screen and (min-width: 600px) {
    .albumList{
        width: 60%;
    }
    .galleryList {
        .galleryCover {
            height: 40vh;
        }
        .galleryImage{
            img{
                max-width: 80%;
            }
        }
    }
    footer {
        h1 {
            font-size: 1.2em;
            letter-spacing: .7em;
        }
    }
    $footerHeight:10vh;
}
@media (min-width: 1000px) {

    $coverHeight: 1100px;
    .albumList{
        width: 700px;
    }
    .galleryImage {
        margin-bottom: 60px;
        img {
            max-width: 1024px;
        }
    }
}
//grids
.horizontalFlexCenter {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.verticalFlexCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}
