<div class="galleryViewWindow">
    <section class="galleryList">
        <div class="galleryCover" style="background-image: url({{currAlbum.cover}})">
            <div class="header">
                <h2>{{currAlbum.displayName}}</h2>
                <aside>{{currAlbum.location}}</aside>
            </div>
        </div>
        <a href="{{photo.path}}" target="_blank" class="galleryImage" ng-repeat="photo in currAlbum.photos | orderBy:random">
            <img src="{{photo.path}}" alt="">
        </a>
    </section>
</div>
