.fontLight, aside {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: lighter;
  letter-spacing: 0.1em; }

.fontMedium {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
  letter-spacing: 0.2em; }

.fontBold, footer h1 {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 0.2em; }

.fontBlack, h2, p {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bolder;
  letter-spacing: 0.2em; }

body {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff; }

h2 {
  margin: 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.1; }

a {
  text-decoration: none; }

p {
  font-size: 0.8em;
  margin: 0; }

aside {
  text-transform: uppercase;
  font-size: 0.7em;
  margin: 0; }

.viewWindow {
  height: 100vh;
  overflow: scroll; }

.galleryViewWindow {
  height: 100vh;
  overflow: scroll; }

.albumList {
  width: 90%; }
  .albumList .albumTile:first-child {
    margin-top: 20px; }
  .albumList .albumTile {
    margin-bottom: 8vh;
    width: 100%; }
    .albumList .albumTile .cover {
      width: 100%;
      -webkit-justify-content: space-between;
         -moz-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .albumList .albumTile .cover .albumFrame {
        height: 65vh;
        -webkit-flex: 1;
           -moz-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        background-position: center;
        -moz-background-size: cover;
             background-size: cover;
        background-repeat: no-repeat; }
    .albumList .albumTile .albumHeader {
      -webkit-justify-content: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: 8vh;
      background-color: #000;
      opacity: 0.7;
      position: relative;
      bottom: 8vh;
      margin-bottom: -8vh;
      width: 100%;
      -moz-transition: opacity 0.2s;
           transition: opacity 0.2s; }
      .albumList .albumTile .albumHeader p {
        text-transform: uppercase;
        margin-bottom: 4px; }

.albumTile:hover .albumHeader {
  opacity: 1; }

.galleryList {
  margin-bottom: 10px; }
  .galleryList .galleryCover {
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: cover;
         background-size: cover;
    background-blend-mode: multiply;
    height: 77vh;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 8vh;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.6); }
    .galleryList .galleryCover h1 {
      margin-bottom: 15px; }
  .galleryList .galleryImage {
    width: 90%;
    text-decoration: none;
    margin-bottom: 40px;
    background-color: #000; }
    .galleryList .galleryImage img {
      width: 100%; }

footer {
  position: fixed;
  bottom: 0;
  background-color: #000;
  opacity: 0.7;
  margin: 0;
  width: 100%;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 8vh; }
  footer h1 {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.45em; }

@media screen and (min-width: 600px) {
  .albumList {
    width: 60%; }

  .galleryList .galleryCover {
    height: 40vh; }
  .galleryList .galleryImage img {
    width: 80%; }

  footer h1 {
    font-size: 1.2em;
    letter-spacing: 0.7em; }
 }

@media (min-width: 1000px) {
  .albumList {
    width: 700px; }

  .galleryList .galleryCover h2 {
    font-size: 2em; }
  .galleryList .galleryCover p {
    font-size: 1em; }
  .galleryList .galleryImage {
    margin-bottom: 60px; }
    .galleryList .galleryImage img {
      max-width: 1024px; }
 }

.horizontalFlexCenter, .albumList .albumTile .cover {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.verticalFlexCenter, .viewWindow, .albumList .albumTile .albumHeader, .galleryList, .galleryList .galleryCover, .galleryList .galleryImage {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
